@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    "Red Hat Text",
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background-color: #202033;
  color: #ddddee;
}

pre {
  @apply overflow-x-auto overflow-y-hidden;
}

code {
  font-family: "Red Hat Mono", monospace;
  background-color: #2d2d3a;
  color: #f8f8f2;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
}

a:not(.post) {
  color: inherit;
  text-decoration: none;
}

a:not(.post):hover {
  color: #aabbcc;

  h3 {
    text-decoration: underline;
  }
}

a:not(.post):visited h3 {
  color: #aabbcc;
}

a:not(.post):focus {
  color: #bbccdd;
}

* {
  box-sizing: border-box;
}

.about {
  @apply max-w-lg mx-auto;

  h1 {
    @apply text-3xl;
  }

  p {
    @apply text-base my-4 leading-relaxed;
  }
}

.post {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl my-4;
  }

  h3 {
    @apply text-xl my-4;
  }

  p {
    @apply text-base my-2 leading-relaxed;
  }

  ul {
    @apply list-disc pl-4;
  }

  ul li {
    @apply my-2;
  }

  p a,
  li a {
    color: #6f6fb0;
  }

  a:hover {
    color: #aabbcc;
  }
}
