{% import "macros/macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="assets/apple-touch-icon.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="assets/favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="assets/favicon-16x16.png") }}">
    <link rel="manifest" href="{{ get_url(path="assets/site.webmanifest") }}">
    <link rel="mask-icon" href="{{ get_url(path="assets/safari-pinned-tab.svg") }}" color="#202030">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#202030">
    {% block seo %}
    {% endblock seo %}
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Mono&amp;family=Red+Hat+Text:wght@300;400;500;700&amp;display=swap"
          rel="stylesheet" />
    <link href="{{ get_url(path="css/main.css") }}" rel="stylesheet" />
  </head>
  <body>
    <nav class="p-8 flex flex-row justify-between w-full">
      <a href="/">
        <h2>danitrod.dev</h2>
      </a>
      <div>
        <a class="mr-4" href="/about">About</a><a class="mr-4" href="/posts">Posts</a><a href="https://github.com/danitrod/danitrod.dev"
   target="_blank"
   rel="noopener noreferrer">Source</a>
      </div>
    </nav>
    {% block content %}{% endblock %}
    <footer class="p-8 flex w-full justify-center">
      <a href="https://github.com/danitrod"
         target="_blank"
         rel="noopener noreferrer"
         class="p-4">
        <image src="{{ get_url(path="assets/github.svg") }}" alt="GitHub" height="32" width="32" />
      </a>
      <a href="https://linkedin.com/in/danitrod"
         target="_blank"
         rel="noopener noreferrer"
         class="p-4">
        <image src="{{ get_url(path="assets/linkedin.png") }}" alt="LinkedIn" height="32" width="32" />
      </a>
    </footer>
  </body>
</html>
