<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>danitrod.dev</title>
    <meta
      name="description"
      content="some thoughts and experiences from my life."
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Mono&amp;family=Red+Hat+Text:wght@300;400;500;700&amp;display=swap"
      rel="stylesheet"
    />
    <link href="{{ get_url(path="css/main.css") }}" rel="stylesheet" />
  </head>
  <body>
    <nav class="p-8 flex flex-row justify-between w-full">
      <a href="/">
        <h2>danitrod.dev</h2>
      </a>
      <div>
        <a class="mr-4" href="/about">About</a
        ><a class="mr-4" href="/posts">Posts</a
        ><a
          href="https://github.com/danitrod/danitrod.dev"
          target="_blank"
          rel="noopener noreferrer"
          >Source</a
        >
      </div>
    </nav>
    {% block content %} {% endblock %}
    <footer class="p-8 flex w-full justify-center">
      <a
        href="https://github.com/danitrod"
        target="_blank"
        rel="noopener noreferrer"
        class="p-4"
      >
        <image src="{{ get_url(path="assets/github.svg" ) }}" alt="GitHub"
        height="32" width="32" />
      </a>
      <a
        href="https://linkedin.com/in/danitrod"
        target="_blank"
        rel="noopener noreferrer"
        class="p-4"
      >
        <image src="{{ get_url(path="assets/linkedin.png" ) }}" alt="LinkedIn"
        height="32" width="32" />
      </a>
    </footer>
  </body>
</html>
