{% extends "base.html" %}
{% block seo %}
  {% if page.extra.social_image and page.extra.description %}
    {{ macros::seo(title=page.title, social_image=page.extra.social_image, description=page.extra.description) }}
  {% elif page.extra.social_image %}
    {{ macros::seo(title=page.title, social_image=page.extra.social_image) }}
  {% elif page.extra.description %}
    {{ macros::seo(title=page.title, description=page.extra.description) }}
  {% else %}
    {{ macros::seo(title=page.title) }}
  {% endif %}
{% endblock seo %}
{% block content %}
  <article class="flex flex-col items-center post  max-w-3xl mx-auto px-4">
    <header class="text-left">
      <h1>{{ page.title }}</h1>
      <span class="opacity-50 text-sm">{{ page.date | date(format="%B %d, %Y") }}</span>
    </header>
    <main class="text-justify max-w-full">
      {{ page.content | safe }}
    </main>
  </article>
{% endblock content %}
